appnope==0.1.2
backcall==0.2.0
backports.ssl-match-hostname==3.5.0.1
bintrees==2.0.7
boto3==1.14.38
botocore==1.17.38
cbpro==1.1.4
certifi==2018.10.15
chardet==3.0.4
decorator==4.4.2
docutils==0.14
futures==3.1.1
idna==2.7
ipython==7.20.0
ipython-genutils==0.2.0
jedi==0.18.0
jmespath==0.9.3
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.16
ptyprocess==0.7.0
Pygments==2.7.4
pymongo==3.5.1
python-dateutil==2.6.1
requests==2.13.0
s3transfer==0.3.3
six==1.10.0
sortedcontainers==2.3.0
traitlets==5.0.5
urllib3==1.25.10
wcwidth==0.2.5
websocket-client==0.40.0
